<%= form_with model: fridge, local: true do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Awesome fridge"%>
    </div>
    <%= form.submit %>
<% end %>