<div class="fridge">
  <h1>Add a new fridge</h1>
  <div class="location">
    <%= form_with model: fridge, local: true do |form| %>
        <div class="form-input">
          <%= form.label :name %>
          <%= form.text_field :name, placeholder: "Awesome fridge"%>
        </div>
        <div class="form-input">
          <%= form.submit %>
        </div>
    <% end %>
  </div>
</div>