<h1>Fridges</h1>
<ul class="box">
  <% @fridges.each do |fridge| %>
    <li class="button">
      <h2><%= link_to fridge.name, fridge %></h2>
    </li>
  <% end %>
</ul>
<%= link_to "Add fridge", new_fridge_path%>