// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fridge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  min-width: max-content;
  background-color: rgb(167, 192, 238);
}
.location {
  @extend .fridge;
  width: 100%;
  box-sizing: border-box;
  background-color: #00000020;
  h3 {
    margin: 0.3rem;
  }
  li {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

.home-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 480px;
  flex: 0 1 5rem;
  margin: 0.5rem;
}

.expired{
  padding: 10px;
  border-radius: 1rem;
  background-color: rgb(246, 0, 59);
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.expiring{
  padding: 10px;
  border-radius: 1rem;
  background-color: rgb(246, 246, 59);
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
