// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fridge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  min-width: max-content;
  background-color: rgb(167, 192, 238);
}
.location {
  @extend .fridge;
  background-color: #00000020;
  h3 {
    margin: 0.3rem;
  }
  li {
    margin-left: 1rem;
  }
}

.home-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 480px;
  flex: 0 1 5rem;
  margin: 0.5rem;
}