$backcolor: rgb(56, 87, 146);
$forecolor: #ffe7bb;

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h1, h2, p {
  margin-left: 1rem;
}
html {
  background-color: $backcolor;
  color: $forecolor;
}
.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ff804010;
  margin-left: -1em;
  padding-left: 1em;
}